<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../components/head') %>
</head>
<body class="container">
<header>
    <%- include('../components/header') %>
</header>
<main>
    <div class="col-12">
        <div class="row justify-content-center">
            <%- include('../components/comentario-form') %>
            <%- include('../components/lista-comentario') %>
        </div>
    </div>
</main>
<footer>
    <%- include('../components/footer') %>
</footer>
</body>
</html>

